* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 20px;
}


.header, content-1 {
    display: flex;;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8
}

.menu {
    font-size: 18px;
    color: #E5E7EB;
    align-content: center;
    margin-left: auto;
}

.signup {
    background: #3882f6;
}